.whole{
    background-color: #c7ddef;
}


#show-contact {
    display: none;
}

.contact {
    cursor: pointer;
    color: whitesmoke;
}

#contacts{
    text-decoration: none;
    color: whitesmoke;
}
.contact:hover {
    text-decoration: none;
}


.displayContact{
    background-color: #2e6da4;
    width: 40%;
    height: auto;
    color: whitesmoke;
    border: double whitesmoke 5px;
}


.awesomeFont{
    font-size: 36px;
}

.awesomeFont-edit{
    font-size: 20px;
}




